pandas
numpy
vectorbt
xgboost
jupyter
pyarrow
msgpack
tqdm
psutil
joblib
scikit-learn
torch
matplotlib
numba
pandas-ta
backtesting
yfinance
ruamel.yaml
ta


# Dev dependencies
pytest
pytest-cov
black
ruff
mypy

seaborn
plotly
fastparquet
scipy
optuna
loguru
sphinx
sphinx-rtd-theme
tabulate
